a.search, a.all, a.button{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    background: #111010;
    margin-top: 5px;
    padding: 10px 10px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}