body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #2d2013;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 3px;
    padding-top: 3.2rem;

}


